body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: firebrick;
  user-select: none;
  font-family: sans-serif;
  flex-direction: column;
}

.emoji-face {
  width: 400px;
  height: 400px;
  background: gold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(10%) rotate(0);
  transition: all 0.3s ease-in;
}

.click {
  transform: scale(100%) rotate(720deg);
  transition: all 0.3s ease-in-out;
}

.emoji-face::before {
  content: "";
  top: 250px;
  position: absolute;
  width: 150px;
  height: 70px;
  background: crimson;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s;
}

.eyes {
  position: relative;
  top: -40px;
  display: flex;
}

.eye {
  position: relative;
  width: 120px;
  height: 120px;
  display: block;
  background: white;
  border-radius: 50%;
  margin: 0 10px;
}

.eyes .eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(50% -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
}

.project-window {
  background-color: gold;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  color: #333;
  margin: 50px;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.project-window h1 {
  margin-bottom: 10px;
}

.project-window.active {
  transform: scale(1);
  opacity: 1;
}
